{% extends 'basic.html' %}

{% block title %}About Us!{% endblock title %}

{% block css %}
{% endblock css %}

{% block body %}
<div class="container">
     <div class="text-center mt-2 mb-2">
     <h1>About Us!</h1>
     <h3 class ="text-muted">Meet the two handsome developers behind this awesome website😏</h3>
     </div>
     
     <div class="row mt-5 mb-5">
      <div class="col text-center">
        <img src="../static/about/rohan.jpg" alt="rohan" class="img-fluid rounded-circle" width="140" height="140" />
        <h2>Rohan Das</h2>
        <p>Rohan Das is young and passionate Python coder, who has a good command in Python, HTML, CSS. Also, he is a creative graphic designer, gamer and enthusiastic techie who has a YouTube channel where he discusses tech-stuff. For more information, you can tap the button below.</p>
        <p><a class="btn btn-secondary" target="_blank" href="https://www.rohandas.me/" role="button">View details &raquo;</a></p>
      </div>
      <div class="col text-center">
        <img src="../static/about/abhishek.jpg" alt="abhishek" class="img-fluid rounded-circle" width="140" height="140" />
        <h2>Abhishek Pathak</h2>
        <p>Abhishek loves programming, writing, and creating new things. He has good commands above Python, C, HTML, CSS, JS and different frameworks like Django, Bootstrap etc. For more info, check out his Github account. </p>
        <p><a class="btn btn-secondary" target="_blank" href="https://www.github.com/scorcism/" role="button">View details &raquo;</a></p>
      </div>
</div>

{% endblock body %}

{% block js %}
{% endblock js %}