<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
<link href="assets/css/style.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Josefin+Sans:ital,wght@1,300&family=Noto+Serif&family=Overpass:wght@300&family=Tourney:wght@200&family=Zilla+Slab&display=swap" rel="stylesheet">
<link rel="icon" href="../static/lasan.ico" type="image/x-icon">  

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>{% block title %}{% endblock title %}</title>
    <style>
    
    {% block css %}{% endblock css %}
    </style>

  </head>
  <body>
  <!--Navbar-->
  <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a class="navbar-brand" href="/">
        <img src="../static/lasan.png" width="35" height="35" class="d-inline-block align-top" alt="">
          </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
          <li><a href="/services" class="nav-link px-2 text-white">Services</a></li>
          <li><a href="/about" class="nav-link px-2 text-white">About Us</a></li>
          <li><a href="/contact" class="nav-link px-2 text-white">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </header>
  <!--Navbar-->

  {% block body %}{% endblock body %}

<!--Footer-->
  <footer class=" fixed-bottom py-3 bg-dark flex-shrink-0">
    <div class="container text-center text-white">
       Copyright © 2020-2021 Rohan & Abhishek
    </div>
  </footer>    
  <!--Footer-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script>
    {% block js %}{% endblock js %}
    </script>   
  </body>
</html>