<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--Typed.JS-->
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

    <title>{% block title %}{% endblock title %}</title>
    <style>
    
    {% block css %}{% endblock css %}
    </style>

  </head>
  <body>
  <!--Navbar-->
  <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a class="navbar-brand" href="/">
        <img src="../static/lasan.png" width="35" height="35" class="d-inline-block align-top" alt="">
          </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
          <li><a href="/services" class="nav-link px-2 text-white">Services</a></li>
          <li><a href="/about" class="nav-link px-2 text-white">About Us</a></li>
          <li><a href="/contact" class="nav-link px-2 text-white">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </header>
  <!--Navbar-->

  {% block body %}{% endblock body %}

<!--Footer-->
  <footer class=" fixed-bottom py-4 bg-dark flex-shrink-0">
    <div class="container text-center">
      <a href="" class="text-white">By Abhishek & Rohan</a>
    </div>
  </footer>    
  <!--Footer-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script>
    {% block js %}{% endblock js %}
    </script>   
  </body>
</html>