{% extends 'basic.html' %}

{% block title %}Welcome{% endblock title %}

{% block css %}
{% endblock css %}

{% block body %}

<div class="">
  <div class="card"
    style="width: 100% ;background: linear-gradient(293deg,rgb(9, 196, 183),wheat) ;border-top: 6px solid purple; ">
    <div class="card-body " style="margin-top: 22px;">
      <h5 class="card-title" style="font-size: 22px;"><b>Do you shop online? <br></b>And what to know the real<b><span
            style="font-size: 35px;font-family: Georgia, 'Times New Roman', Times, serif;"> Difference?</span></b><br>
        Of
        the <b><span style="font-size: 22px; color: rgb(36, 5, 5);">Prices</span></b> across the Gient Companies</h5>
      <p class="card-text">
      <div class="my-3 col-md-12">
        <div class="row mx-lg-n5" style="margin-left: -5px;">
          <div class="col-md-8">
            <input style="font-size:20px; " class="form-control  type=" search" placeholder="Search">
          </div>
          <div class="col-md-4">
            <a href="/results"><button class="btn btn-success"
                style=" color: rgba(0, 0, 255, 0.795) ;background-color: aqua;width: 140px;font-weight: 700;font-size: 18px">Search</button></a>
          </div>
        </div>
      </div>
      </p>
      <div class="">
        <div class=" text-center col-md-11">
          <div class="header" style="font-family: 'Otomanopee One', sans-serif;">
            Don't Know how to use this?
          </div>
          <div class="card-body">
            <h5 class="card-title" style="font-family: 'Roboto Slab', serif; font-weight: 600;font-size: 46px;">Just
              Search
              the
              <u> <span style="color: purple;"> Product</span></u> <b>Name</b>
            </h5>
            <p class="card-text" style="font-family: 'Fira Sans', sans-serif;font-weight: 400;font-size: 22px;">This is
              take you
              to
              the Heaven of offers</p>
            <button type="button" class="btn btn-outline-dark">Click on the search button</button>
          </div>
          <div class="card-footer text" style="font-weight: 500;color: blak;">
            Enjoy Shopping
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="">
  <div class="container col-xxl-8 px-4 py-5 ">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://cdn.pixabay.com/photo/2018/05/04/20/01/website-3374825_960_720.jpg"
          class="d-block mx-lg-auto img-fluid" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6 text-center">
        <h1 class="display-5 fw-bold lh-1 mb-3">E-Commerce Price Tracker</h1>
        <p class="lead">The Place where you comapre the proces of the products of the Big-Big-Big companies to get best
          price</p>
        <button type="button" class="btn btn-outline-primary btn-lg px-4 align-items-center">Default</button>
      </div>
    </div>
    <hr>
  </div>
</div>

<div class="fotter_up container" style="margin-bottom: 222px;">
  <div class="row">
    <div class="col-sm-8">

      <h2>Follow Us</h2>
      <div class="row">
        <div class="col">
          <div class="w-full h-1 bg-purple-500 dark:bg-orange-300 -mt-4 lg:-mt-8"></div>
          <div class="max-w-screen-xl mx-auto px-6 sm:px-0">
            <div class="sm:flex sm:mt-16">
              <div class="sm:w-1/2 mt-8 sm:mt-0 pr-0 sm:pr-12 sm:px-4 xl:px-0">
                <p class="text-gray-900 dark:text-white mt-2 text-lg">Price History is a free price tracker that helps
                  you to save money while shopping online on Amazon, Flipkart, Myntra and many stores. We provide
                  advanced Price Tracking, Price History charts,
                  Price Drop Alerts, Stock Alerts on our platform.</p>
              </div>
            </div>
          </div>
    </div>
    <div class="col-sm-4">
      <div class="flex flex-col">
        <div class="flex">
          <ul class="flex-1 font-base font-semibold">
            <li class="mb-1">
              <a href="" class="text-gray-900 dark:text-white text-lg">Instagram</a>
            </li>
            <li class="mb-1">
              <a href="/blog" class="text-gray-900 dark:text-white text-lg">Blog</a>
            </li>
            <li class="mb-1">
              <a href="" target="_blank" class="text-gray-900 dark:text-white text-lg">Linkdin</a>
            </li>
            <li class="mb-1">
              <a href="" target="_blank" class="text-gray-900 dark:text-white text-lg">Facebook</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock body %}

{% block js %}
{% endblock js %}