{% extends 'basic.html' %}

{% block title %}Services{% endblock title %}

{% block css %}
{% endblock css %}

{% block body %}
<section class="jumbotron text-center">
  <div class="container mt-5">
    <h1 style="font-family:'Otomanopee One', sans-serif;">Our Services</h1>
    <p class="lead text-muted " style="font-family: 'Roboto Slab', serif;">Here, why You should Work with us<br></p>
  </div>
</section>
<div class="services">


  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="../static/services/Youtube.png" alt="Youtube" class="py-3" width="80%" height="225" style="margin: auto;">
            <div class="card-body">
              <h5 class="card-title">YouTube</h5>
              <p class="card-text " font-family: 'Rubik' , sans-serif; ">Youtube Support For Everything related to youtube.</p>
              <div class=" d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="/contact"><button type="button" class="btn btn-sm btn-outline-secondary">Contact </button> </a>
              </div>
              <small class="text-muted">&#128515;</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img src="../static/services/programming.png" class="py-3" alt="Youtube" width="80%" height="225"
            style="margin: auto;">
          <div class="card-body">
            <h5 class="card-title">Programming</h5>
            <p class="card-text " ; font-family: 'Rubik' , sans-serif; ">Programmin related Query. Stuck In Something. Here, we are</p>
              <div class=" d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a href="/contact"><button type="button" class="btn btn-sm btn-outline-secondary">Contact </button> </a>
            </div>
            <small class="text-muted">&#128515;</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="../static/services/content_writing.png" class="py-3" alt="Youtube" width="80%" height="225"
          style="margin: auto;">
        <div class="card-body">
          <h5 class="card-title">Content-Writing</h5>
          <p class="card-text " font-family: 'Rubik' , sans-serif; ">We will provide you with the content. Anything related to your interest.</p>
              <div class=" d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <a href="/contact"><button type="button" class="btn btn-sm btn-outline-secondary">Contact </button> </a>
          </div>
          <small class="text-muted">&#128515;</small>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
      <img src="../static/services/img_edit.png" class="py-3" alt="Youtube" width="80%" height="225"
        style="margin: auto;">
      <div class="card-body">
        <h5 class="card-title">Image Editing</h5>
        <p class="card-text">Editing Of any level. Any fomat done here. 2 line</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <a href="/contact"><button type="button" class="btn btn-sm btn-outline-secondary">Contact </button> </a>
          </div>
          <small class="text-muted">&#128515;</small>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
      <img src="../static/services/videoE.png" class="py-3" alt="Youtube" width="80%" height="225"
        style="margin: auto;">
      <div class="card-body">
        <h5 class="card-title">Video Editing</h5>
        <p class="card-text">We provide the best of best Video Editing Supply. Ant thing Will be kept Top Secret</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <a href="/contact"><button type="button" class="btn btn-sm btn-outline-secondary">Contact </button> </a>
          </div>
          <small class="text-muted">&#128515;</small>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
      <img src="../static/services/web_dev.png" class="py-3" alt="Youtube" width="80%" height="225"
        style="margin: auto;">
      <div class="card-body">
        <h5 class="card-title">Website Developemnt</h5>
        <p class="card-text">Any type of website. USing Any langugae with framework or without framework.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <a href="/contact"><button type="button" class="btn btn-sm btn-outline-secondary">Contact </button> </a>
          </div>
          <small class="text-muted">&#128515;</small>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<section id="contact" class=" container contact my-4">
  <div class="container " data-aos="fade-up">
    <header class="section-header justify-content-center">
      <h2 style="font-family: 'Alfa Slab One', cursive;font-weight: 400; letter-spacing: 3px;">Contact Us</h2>
    </header>
    <div class="row gy-4">
      <div class="col-md-6">
        <div class="info-box" style="align-items: center;">
          <svg xmlns="http://www.w3.org/2000/svg" class="py-0" width="36" height="76" fill="currentColor"
            class="bi bi-geo-alt" viewBox="0 0 16 16">
            <path
              d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
          </svg>
          <h3>Address</h3>
          <p>304,shaitan gali<br>khatra mehel<br>
            shamshaan ke samne</p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="info-box">
          <svg xmlns="http://www.w3.org/2000/svg" class="py-0" width="36" height="76" fill="currentColor"
            class="bi bi-envelope-fill" viewBox="0 0 16 16">
            <path
              d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z" />
          </svg>

          <h3>Email Us</h3>

          <p style="font-family: 'Overpass', sans-serif;">
            <a href="mailto:contact@comparer.in">contact@comparer.in</a><br><a
              href="mailto:rohandasbirbum@gmail.com">rohandasbirbum@gmail.com</a><br><a
              href="mailto:abhishekpathak1720@gmail.com">abhishekpathak1720@gmail.com</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<hr>
{% endblock body %}

{% block js %}
{% endblock js %}